/* Global styling */
body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
}

h2 {
  font-size: 32px;
  font-family: montserrat;
  color: #06113B;
}

/* ===== Forside sektion ===== */

/* Log ind knap */
.logind-knap {
  position: absolute;
  font-family: Helvetica;
  top: 45px;
  right: 100px;
  color: #eeeeee;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 3;
  padding: 2px 0;
  text-decoration: none;
  border-bottom: 2px solid #eeeeee;
  display: inline-block;
}

.logind-knap:hover {
  color: #3B4A85;
  border-bottom: 2px solid #3B4A85;
}

/* Forside container */
.forside {
  height: 88vh;
  display: flex;
  margin-bottom: 125px;
}

/* Overlay på forsiden */
.forside-overlay {
  width: 50%;
  background-color: #06113B;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

/* Logo i overlay */
.forside-logo {
  position: absolute;
  top: 60px;
  left: 100px;
  width: 200px; 
  height: auto; 
  z-index: 5;
}

/* Overskrift og tekst i overlay */
.forside-overskrift {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: montserrat;
}

.forside-tekst {
  font-size: 23px;
  font-family: Helvetica;
  line-height: 1.5;

}

/* Forside billede */
.forside-billede {
  width: 50%;
  position: relative;
}

.forside-billede img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay på billede */
.forside-billede::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Knapper på forsiden */
.forside-knapper {
  position: absolute;
  font-family: Helvetica;
  bottom: 80px;
  left: 40%;
  display: flex;
  gap: 30px;
  z-index: 2;
}

.knap-primaer {
  padding: 15px 37px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.knap-sekundaer {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Primær knap styling */
.knap-primaer {
  background-color: #FF8C32;
  color: #eeeeee;
}

.knap-primaer:hover {
  background-color: #ffb451;
}

/* Sekundær knap styling */
.knap-sekundaer {
  background-color: #06113B;
  color: #eeeeee;
}

.knap-sekundaer:hover {
  background-color: #3B4A85;
}

/* Pil under forsiden */
.forside-pil {
  display: flex;
  justify-content: center;
  margin-top: -85px;
  margin-bottom: 90px;
}

.forside-pil img {
  width: 45px;
  height: auto;
}

/* ===== Sektion: Hvad er Fablab ===== */

.hvad-er-fablab {
  display: flex;
  justify-content: center;
  gap: 130px;
}

/* Tekst om Fablab */
.fablab-tekst {
  width: 600px;
}

.tekst-afsnit {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.5;
  color: #06113B;
}

/* Info-boks */
.fablab-info {
  background-color: #06113B;
  height: 460px;
  width: 270px;
  margin-top: 90px;
  border-radius: 8px;
}

.info-boks {
  margin-top: 35px;
}

.overskrift-info {
  font-family: montserrat;
  color: #eeeeee;
  text-align: center;
}

.info-afsnit {
  font-family: Helvetica;
  color: #eeeeee;
  margin-left: 37px;
  margin-right: 37px;
  font-size: 18px;
  line-height: 1.5;
}

/* ===== Sektion: Fablabs tilbud ===== */

.tilbud-overskrift {
  margin-top: 150px;
  margin-left: 255px;
  margin-right: 255px;
}

/* ===== Sektion: Hvem driver Fablab ===== */

.hvem-driver {
  display: flex;
  flex-direction: column;
}

/* Tekst om medarbejdere */
.tekst-hvem-driver {
  margin-top: 150px;
  color: #06113B;
  margin-left: 255px;
  margin-right: 255px;
}

/* Medarbejdere liste */
.medarbejdere {
  display: flex;
  justify-content: center;

  gap: 70px;
  margin-top: 50px;
}

.medarbejder img {
  height: 300px;
}

.medarbejder {
  text-align: center;
}

.navn-medarbejder {
  font-size: 28px;
  font-family: montserrat;
  color: #06113B;
}

.rolle-medarbejder {
  font-size: 18px;
  font-family: Helvetica;
  color: #06113B;
  margin-top: -15px;
}

/* ===== Sektion: Feedback ===== */

.feedback-overskrift {
  margin-top: 150px;
  margin-left: 255px;
}

.feedback-talebobler {
  display: flex;
  justify-content: center;
  gap: 27px;
}

.taleboble {
  position: relative;
  background-color: #06113B;
  height: 230px;
  width: 230px;
  border-radius: 8px;
}

.taleboble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 100px;
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Danner trekanten */
  border-color: #06113B transparent transparent transparent; 
}

.tekst-taleboble {
  font-family: Helvetica;
  font-size: 18px;
  color: #eeeeee;
  width: 200px;
  line-height: 1.5;
  margin-left: 20px;
  padding-top: 15px;
}

/* Feedback personer */
.feedback-personer {
  display: flex;
  justify-content: center;
}

.navn-person {
  font-size: 28px;
  font-family: montserrat;
  color: #06113B;
  text-align: center;
  padding-top: 30px;
}

.beskrivelse-person {
  font-size: 18px;
  font-family: Helvetica;
  color: #06113B;
  text-align: center;
  margin-top: -15px;
}

/* ===== Sektion: Bookingformular ===== */

.book-tid-overskrift {
  margin-top: 280px;
  margin-left: 255px;
  margin-right: 255px;
}

/* ===== Footer sektion ===== */

  .footer {
    background-color:#06113B;
    color: #eeeeee;
    padding: 1px;
    font-family: Helvetica;
    margin-top: 280px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 100px;
    margin-right: 100px;
  }

  .kontakt-info p {
    margin: 25px 0;
    font-size: 18px;
    font-family: Helvetica;
  }

  .kontakt-info img {
    width: 30px;
    padding-right: 30px;
  }

  .sociale-medier {
    display: flex;
    gap: 20px;
    padding-top: 100px;
  }

  .sociale-medier img {
    width: 40px;
  }

  .streg {
    border-bottom: 1px solid #FF8C32;
    justify-content: center;
    width: auto;
    margin: 0px;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
  }



  /* === Media Queries === */

/* Mobiltelefoner (max-width: 768px) */
@media (max-width: 768px) {
  .forside {
      flex-direction: column;
      height: auto;
      margin-bottom: 30px;
  }

  .logind-knap {
      top: 30px;
      font-size: 16px;
      right: 30px;
  }

  .forside-overlay {
      width: auto;
      padding: 30px;
      text-align: left;
  }

  .forside-logo {
      top: 30px;
      left: 30px;
      width: 95px;
  }

  .forside-overskrift {
      margin-top: 80px;
      font-size: 32px;
  }

  .forside-billede {
      width: auto;
      display: flex;
      height: 150px;
  }

  .forside-tekst {
      font-size: 18px;
  }

  .forside-knapper {
      left: 125px;
      bottom: 50px;
  }

  .knap-primaer {
      font-size: 16px;
  }

  .knap-sekundaer {
      display: none;
  }

  .forside-pil {
      display: none;
  }

  .hvad-er-fablab {
      flex-direction: column;
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
      gap: 0px;
      margin-top: 0px;
  }

  .fablab-info {
      margin: 0px;
  }

  .fablab-tekst {
      width: auto;
  }

  .tilbud-overskrift {
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
  }

  .tekst-hvem-driver {
      padding-left: 30px;
      padding-right: 30px;
      margin: auto;
  }

  .feedback-overskrift {
      padding-left: 30px;
      margin: auto;
      font-size: 32px;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .feedback-talebobler {
      gap: 135px;
      flex-direction: column;
      align-items: center;
  }

  .medarbejdere {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 0;
      padding: 30px;
  }

  .book-tid-overskrift {
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 150px;
  }

  .feedback-talebobler {
      flex-direction: column;
      align-items: center;
  }

  .footer {
    margin-top: 150px;
  }

  .footer-container {
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding: 30px;
  }

  
  .kontakt-info {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      gap: 20px;
  }
  
  .kontakt-info p {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
  }
  
  .kontakt-info img {
      width: 20px; 
      height: auto;
  }
  
  .sociale-medier {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 20px;
  }
          
  .copyright {
      font-size: 14px;
  }
}

