body {
    background-color: #eeeeee; /* Baggrundsfarven på hele hjemmesiden*/
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: montserrat;
      }
  
  /*Her starter CSS'en til sektion 1 med forsidebillede + tekst + knapper*/
  /*Log-ind knappen*/
  .logind-button {
    position: absolute;
    font-family: Helvetica;
    top: 20px; 
    right: 130px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    z-index: 3; /* Sørger for, at den er synlig foran de andre elementer */
    padding: 5px 0; /* Giver luft imellem teksten og stregen */
    text-decoration: none; 
    border-bottom: 2px solid white; 
    display: inline-block; /* Sørger for, at stregen matcher tekstens bredde */
  }
  
  .logind-button:hover {
    color: #06113B;
    border-bottom: 2px solid #06113B;
  }
  
  .section1 {
    height: 80vh; /* Sektionen fylder 80% af skærmen */
    display: flex;
    margin-bottom: 125px;
  
  }
  
  /* Styling af den blå boks på forside-billedet */
  .section1-forsideoverlay {
    width: 50%; /* Overlay fylder 40% af sektionen */
    background-color: #06113B; /* Blå farve */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    padding-left: 130px; /* Tilføj ekstra afstand til venstre */
    box-sizing: border-box; /* Sørger for, at padding inkluderes i bredden */
  }
  
  /* Styling af logo */
  .section1-logo {
    position: absolute;
    top: 40px; /* Afstand fra toppen */
    left: 130px; /* Afstand fra venstre */
    width: 200px; /* Juster bredden efter behov */
    height: auto; /* Bevarer proportionerne */
    z-index: 5; /* Sørger for, at logoet er synligt over andre elementer */
  }
  
  .section1-overskrift {
    font-size: 42px;
    margin-bottom: 20px;
    font-family: montserrat;
  }
  
  .section1-tekst {
    font-size: 23px;
    margin-bottom: 20px;
    font-family: Helvetica;
  }
  
  .section1-forsidebillede {
    width: 50%;
    position: relative;
  }
  
  .section1-forsidebillede img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Gør forside billedet gennemsigtigt */
  .section1-forsidebillede::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Hvid overlay med 50% gennemsigtighed */
  }
  
  /* Knapperne på forsidebilledet */
  .section1-knapper {
    position: absolute;
    font-family: Helvetica;
    bottom: 60px;
    left: 50%; /* Centrerer knapperne horisontalt */
    transform: translateX(-58%); /* Flytter knapperne mere mod venstre */
    display: flex;
    gap: 15px;
    z-index: 2; /* Gør at knapperne ligger foran overlayet */
  }
  
  .btn-primaer,
  .btn-sekunaer {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  
  .btn-primaer {
    background-color: #FF8C32;
    color: #ffffff;
  }
  
  .btn-primaer:hover {
    background-color: #ffb451;
  }
  
  .btn-sekunaer {
    background-color: #06113B;
    color: #ffffff;
  }
  
  .btn-sekunaer:hover {
    background-color: #4d61af;
  }
  
  /* Styling af pilen under forsidebilledet */
  .section1-pil {
    display: flex;
    justify-content: center;
    margin-top: -80px; /* Overlapper lidt med sektion 1 */
    margin-bottom: 60px;
  }
  
  .section1-pil img {
    width: 50px;
    height: auto;
  }
  /* Her slutter CSS'en til sektion 1*/ 


  /*Her starter CSS'en til sektion 2 med "Hvad er Fablab" overskrift og den blå boks ved siden af*/

.section2 { /* Den sektion med "Hvad er Fablab" og med den blå boks ved siden af med informationer*/
  display: flex; 
  justify-content: center;
  gap: 130px;    
}

.fablab-paragraph {  /*Hele det tekststykke som inderholder "Hvad er Fablab" og teksten herunder*/
  width: 600px; 
}

.section2-headline { /* "Hvad er Fablab" overskrift*/
  font-family: montserrat; 
  font-size: 32px; 
  color: #06113B; 
}

.section2-paragraph { /* Alt teksten som er under "Hvad er Fablab"*/
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px;
  line-height: 1.5;
  color: #06113B; 
}

.section2-box { /* Den blå boks som indeholder informationer*/
  background-color: #06113B; 
  height: 450px;
  width: 270px;
  margin-top: 90px;
  border-radius: 7px;
}

.section2-boxtext { /* Alt teksten som er inde i den blå boks*/ 
  margin-top: 40px;
}

.section2-boxheadline { /* "Information" overskrift i den blå boks*/
  font-family: montserrat;
  color: #eeeeee;  
  text-align: center; 
  font-size: 32px;
}


.section2-boxparagraph { /* Teksten som er under "information" i den blå boks*/
  font-family: Arial, Helvetica, sans-serif; 
  color: #eeeeee; 
  margin-left: 40px;
  font-size: 18px; 
}
/* Her slutter CSS'en til sektion 2*/ 


/* Her starter CSS'en til sektion 3 med "Hvem driver Fablab" og de 3 billeder af Michael, Michael og Mads herunder*/

.section3 {
  display: flex; 
  flex-direction: column;
}

.section3-text { /* Overskriften samt brødtekst i sektion 3*/
  margin-top: 150px;
  margin-left: 245px;
}

.section3-headline { /* "Hvem driver Fablab" overskrift*/ 
  font-family: montserrat; 
  font-size: 32px; 
  color: #06113B;
}

.section3-pictures123 { /* De 3 forskellige billeder af Michael, Michael og Mads*/
  display: flex; 
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}


.section3-paragraph { /* Brødteksten som er under "Hvem driver Fablab" overskrift*/
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px;
  line-height: 1.5;
  color: #06113B;
}

.section3-picture img { /* Hvert billede af Michael, Michael og Mads*/
  height: 300px; 
}

.section3-picture {
  text-align: center;
}

.section3-pictureheadline { /* Overskrfiten under hvert billede som er navnet på personen*/
  font-size: 28px;
  font-family: montserrat; 
  color: #06113B; 
}

.section3-picturetext { /* Hvilken rolle de forskellige personer har som er under navnet*/ 
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; 
  color: #06113B;  
}
/* Her slutter CSS'en til sektion 3*/

/* Her starter CSS'en til sektion 4 med "Hvad siger vores studerende" med de blå talebokse under*/ 

.section4-headline { /* "Hvad siger vores studerende" overskrift*/ 
  font-family: montserrat; 
  font-size: 32px; 
  color: #06113B; 
  margin-top: 150px;
  margin-left: 245px;
}

.section4-speechbubble1234 { /* Alle taleboblerne så de står på række*/
  display: flex; 
  justify-content: center;
  gap: 40px;
}

/* Taleboblen */
.section4-speechbubble {
  position: relative; /* Nødvendigt for at trekanten kan placeres korrekt */
  background-color: #06113B; /* Baggrundsfarve for taleboblen */
  height: 230px;
  width: 230px; /* Tilpas efter behov */
  border-radius: 7px; /* Runde hjørner */  
}

/* Trekanten */
.section4-speechbubble::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Placering under boksen */
  left: 100px; /* Justér for at placere trekanten hvor du vil */
  border-style: solid;
  border-width: 10px 10px 0 10px; /* Danner en trekant */
  border-color: #06113B transparent transparent transparent; /* Match taleboblens baggrundsfarve */
}


.speechbubble-text { /* Teksten som er inde i hver talebobble*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #eeeeee; 
  width: 200px;
  line-height: 1.5; 
  margin-left: 20px;
  padding-top: 15px;
}

.section4-text1234 {
  display: flex; 
  justify-content: center; 
  gap: 120px;
}

.section4-pictureheadline { /* Overskrfiten under hvert billede som er navnet på personen*/
  font-size: 28px;
  font-family: montserrat; 
  color: #06113B; 
  text-align: center;
}

.section4-picturetext { /* Hvilken rolle de forskellige personer har som er under navnet*/ 
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; 
  color: #06113B;  
  text-align: center;
}
/* Her slutter CSS'en til sektion 4*/
  